.PokeInsert {
   display: flex;
   background: #9399a0;
}

.PokeInsert input {
   background: none;
   outline: none;
   /* border : input 박스 테두리*/
   border: none;
   /* rem : rem에서 r은 root, 즉 최상위 엘리먼트에서 지정된 font-size의 값을 기준으로 변환 (일반적으로 1rem = 16px) */
   padding: 0.5rem;
   font-size: 1.125rem;
   line-height: 1.5;
   color: white;
   flex: 1;
}

.PokeInsert input::placeholder {
   color: #dee2e6;
}

.PokeInsert button {
   outline: none;
   border: none;
   background: #868e96;
   color: white;
   padding-left: 1rem;
   padding-right: 1rem;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   cursor: pointer;
}

.PokeInsert button:hover {
   background: #adb5bd;
}
