.PokeTemplate {
   margin-left: 16px;
   margin-top: 16px;
   margin-right: 16px;
   margin-bottom: 16px;
}

.PokeTemplate .app-title {
   background: #0188ef;
   color: aliceblue;
   height: 64px;
   font-weight: bold;
   font-size: 32px;
   display: flex;
   /*align-items : display가 flex 속성일 때 vertical 정렬할 때 사용*/
   align-items: center;
   /* justify-content : horizontal 정렬*/
   justify-content: center;
}
