.PokeListItem {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px;
}

.card {
   background-color: white; /* 카드 배경색 */
   border: 1px solid #ddd; /* 테두리 */
   border-radius: 10px; /* 둥근 모서리 */
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 그림자 */
   overflow: hidden; /* 카드 내용이 카드 경계를 넘지 않도록 */
   width: 100%; /* 카드 너비 */
   text-align: center; /* 텍스트 중앙 정렬 */
   cursor: pointer; /* 클릭할 수 있는 요소로 보이도록 */
   transition: transform 0.2s; /* 호버 시 애니메이션 */
}

.card:hover {
   transform: scale(1.05); /* hover 시 확대 효과 */
}
.delete-icon {
   position: absolute;
   top: 10px;
   right: 10px;
   color: #3479c2;
   font-size: 1.2rem;
   display: none; /* 기본으로 숨김 */
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0.7); /* 아이콘 배경 */
   border-radius: 50%;
   padding: 5px;
}
.card:hover .delete-icon {
   /* hover 시 Delete 아이콘 출력*/
   display: block;
}

.inactive {
   /* 비활성화 시 반투명 처리 */
   opacity: 0.5;
   /* 클릭 불가 상태 */
   pointer-events: none;
}
.poke-text {
   padding: 10px; /* 텍스트와 카드 가장자리 사이의 여백 */
   margin-top: 10px;
   font-size: 16px; /* 텍스트 크기 */
   font-weight: bold; /* 굵은 텍스트 */
}
.inactive .poke-text {
   opacity: 0.5; /* 비활성화 시 반투명 처리 */
   filter: grayscale(100%); /* 흑백으로 처리 */
}

.PokeListItem .image {
   width: 150px;
   height: 200px;
}
